




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background);    
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}


button span {
    margin-left: 0.5rem;
}   