




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: hsl(209, 23%, 22%);    
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}


button span {
    margin-left: 0.5rem;
}   
.dark span , .dark h1{
    color: hsl(0, 0%, 100%);
}   

header.light span , header.light h1{
    color: hsl(209, 23%, 22%);
}

header.light {
    background-color: hsl(0, 0%, 100%);
}