.card{
    width: 264px;
    background-color:hsl(209, 23%, 22%);
    border-radius: 5px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-inline: 20px;
}

.txt{
    margin-left : 20px;
    color: hsl(0, 0%, 100%);        
}

img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}           

.card.dark{
    background-color:hsl(209, 23%, 22%);
}   

.card.light{
    background-color:hsl(0, 100%, 100%);
}           
.card.dark .txt{
    color: hsl(0, 0%, 100%);
}

.card.light .txt{
    color: hsl(209, 23%, 22%);
}


