section{
    display: flex;
    flex-direction: column;                     
    justify-content: space-between;
    align-items: start;
    padding: 1rem 0;
    margin-inline:5px
}

input[type="text"] {
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 1rem;
}


select {
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
}

section.dark-mode input[type="text"],
section.dark-mode select {
    background-color: hsl(209, 23%, 22%);
    color:hsl(0, 100%, 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


section.light-mode input[type="text"],
section.light-mode select {
    background-color: hsl(0, 0%, 100%);
    color:hsl(208, 23%, 22%);
    box-shadow: 0 2px 4px hsl(0, 0%, 50%);
}

.dark-mode input::placeholder {
    color: hsl(0, 0%, 100%);
}

.light-mode input::placeholder {
    color: hsl(208, 23%, 22%);
}   

@media (min-width: 375px) {
    section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    input[type="text"] {
        margin-bottom: 0;
    }
}   
