
.back-btn{
    display: inline-block;
    padding: 5px 20px;
    /* background-color:hsl(209, 23%, 22%); */
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}

.card-detail{
    width:320px;
    max-width: 800px;
    /* background-color:hsl(209, 23%, 22%); */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.card-detail img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.txt{
    margin-left : 20px;
    color: hsl(0, 0%, 100%);        
}   

img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.border-countries{
    display : flex;
    flex-wrap:wrap;
    
}


.border-countries span{
    margin-left:10px;
}