:root{
    --background: hsl(207, 26%, 17%);
    
}/* You can add global styles to this file, and also import other style files */

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif; 
  
}   